<div>
    <select [(ngModel)]="newContent.type">
        <option value="">No Type</option>
        <option value="Workout">Workout</option>
        <option value="Exercise">Exercise</option>
        <option value="Nutrition">Nutrition</option>
    </select><br>
    <input type="text" placeholder="Title" [(ngModel)]="newContent.title"><br>
    <input type="text" placeholder="Description" [(ngModel)]="newContent.description"><br>
    <input type="text" placeholder="Creator" [(ngModel)]="newContent.creator"><br>
    <input type="text" placeholder="Image URL" [(ngModel)]="newContent.imageURL"><br>
    <input type="text" placeholder="Enter tags" [(ngModel)]="tagInput"><br>
  
    <button (click)="addContent()">Add Content</button>
</div>
<br>
