<p>body-building works!</p>

<!-- content-card.component.html -->
<div *ngFor="let content of contentList.getContentArray()">
    <div>
      <strong>Title:</strong> {{ content.title }}<br>
      <strong>Description:</strong> {{ content.description }}<br>
      <strong>Creator:</strong> {{ content.creator }}<br>
      <strong>Type:</strong> {{ content.type || 'Not specified' }}<br>
      <img *ngIf="content.imageURL" [src]="content.imageURL" alt="{{ content.title }}" width="100" height="100">
      <hr>
    </div>
</div>
  
<!-- body-building.component.html 
<div>
    <app-content-card [contentList]="contentList"></app-content-card>
</div>
--> 

