.content-card {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  
  .first-card {
    border-width: 2px;
  }
  
  .content-card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  