.item-card {
  margin: 1rem 0;
  padding: 0 1rem;
  border: 1px solid black;
}

.workout {
  background-color: lightgreen;
}

.nutrition {
  background-color: lightblue;
}

.exercise {
  background-color: lightcoral;
}

.item-card.highlight {
  background-color: rgb(128, 0, 117) !important; 
  border: 1px solid rgb(128, 0, 117);
}


.no-type {
  background-color: yellow;
}

.title {
  background-color: black;
  color: white;  
}

h2 {
  text-align: center;
  margin-top: 100px;
  padding: 1rem;
}

img {
  max-height: 450px;
}
